{% extends 'basehome.html' %}

{% block content %}

<section class="section-name padding-y-sm">
    <div class="container  ">
        <div class="section-heading pt-3 pb-3">
            <h3 class="text-center m-4"> EDITAR SOLDADO {{ soldado.apodo | upper }} </h3>
        </div><!-- sect-heading -->
            <form action="{% url 'editarSoldado' soldado.id %}" method="POST">
            {% csrf_token %}
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
                <div class="col">
                <div class="form-outline ">
                    <label class="form-label d-grid gap-4 col-2 mx-auto" for="form6Example1"><strong>APODO</strong></label>
                    <input value = {{ soldado.apodo }} type="text" name="apodo" class="form-control" />
                    
                </div>
                </div>
                <div class="col">
                    <div class="item-option-select">
                        <label class="form-label d-grid gap-4 col-2 mx-auto" for="form6Example1"><strong>ESTADO</strong></label>
                        <select name="estado" class="form-control" required>
                            <option  value="{{ soldado.estado | lower}}" method="post" selected >{{ soldado.estado | capfirst }}</option>
                            {% for llave, valor in estados %}
                                {% if llave != "nuevo" and llave != soldado.estado %}
                                    <option value="{{ llave | lower }}" method="post"> {{ valor | capfirst }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                  </div>
                <div class="col">
                    <div class="item-option-select">
                        <label class="form-label d-grid gap-4 col-2 mx-auto" for="form6Example1"><strong>ARMA</strong></label>
                        <select name="arma" class="form-control" required>
                            <option value = "{{ soldado.arma.nombre }}"  selected>{{ soldado.arma.nombre | capfirst }}</option>
                            {% for arma in armas %}
                                {% if arma != soldado.arma %}
                                    <option value="{{ arma | lower }}" method="post"> {{ arma | capfirst }} </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                  </div>
            </div>

        
            

            <!-- Submit button -->
            <div class="container d-grid gap-4 col-2 mx-auto">
                <button type="submit" class="btn btn-primary mb-4 mx-auto">
                    Modificar Soldado
                </button>
            </div>
                
            </form>
        </div> <!-- row.// -->
    </div> <!-- container.// -->
</section>


{% endblock content %}

